<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  </head>
<article> 
  <body>
    <h1>Works</h1>
    <hr />
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Urna et pharetra
        pharetra massa massa ultricies mi quis hendrerit. 
      </p>
      <hr />
      <p>
        Viverra mauris in aliquam sem fringilla. Viverra adipiscing at in tellus
        integer. Vel turpis nunc eget lorem dolor sed. Ultricies mi quis
        hendrerit dolor magna. Pulvinar etiam non quam lacus suspendisse
        faucibus. 
      </p>
      <hr />
      <p>
        Ornare massa eget egestas purus viverra accumsan in nisl. Vitae proin
        sagittis nisl rhoncus mattis. Laoreet id donec ultrices tincidunt arcu
        non sodales neque. Turpis massa tincidunt dui ut ornare lectus sit amet.
        
      </p>
    </div>
    <a href="/homepage">HOME</a>
  </body>
</article>
</html>
